# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data.sqlite")
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [7]:
c.execute('''SELECT firstName, lastName, city, state
             FROM employees
             JOIN offices
             USING(officeCode)
             ORDER BY firstName, lastName;''').fetchall()
df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
print('Number of results:', len(df))
df.head()

Number of results: 23

  firstName lastName           city state
0      Andy   Fixter         Sydney
1   Anthony      Bow  San Francisco    CA
2     Barry    Jones         London
3     Diane   Murphy  San Francisco    CA
4  Foon Yue    Tseng            NYC    NY

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [11]:
c.execute('''SELECT contactFirstName, contactLastName, orderNumber, orderDate, status
             FROM customers
             JOIN orders
             USING(customerNumber)
             ORDER BY orderDate;''').fetchall()

[('Dorothy', 'Young', '10100', '2003-01-06', 'Shipped'),
 ('Roland', 'Keitel', '10101', '2003-01-09', 'Shipped'),
 ('Michael', 'Frick', '10102', '2003-01-10', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10103', '2003-01-29', 'Shipped'),
 ('Diego ', 'Freyre', '10104', '2003-01-31', 'Shipped'),
 ('Jytte ', 'Petersen', '10105', '2003-02-11', 'Shipped'),
 ('Giovanni ', 'Rovelli', '10106', '2003-02-17', 'Shipped'),
 ('Kwai', 'Lee', '10107', '2003-02-24', 'Shipped'),
 ('Arnold', 'Cruz', '10108', '2003-03-03', 'Shipped'),
 ('Rosa', 'Salazar', '10109', '2003-03-10', 'Shipped'),
 ('Rachel', 'Ashworth', '10110', '2003-03-18', 'Shipped'),
 ('Christina ', 'Berglund', '10112', '2003-03-24', 'Shipped'),
 ('Julie', 'Murphy', '10111', '2003-03-25', 'Shipped'),
 ('Susan', 'Nelson', '10113', '2003-03-26', 'Shipped'),
 ('Marie', 'Bertrand', '10114', '2003-04-01', 'Shipped'),
 ('Maria', 'Hernandez', '10115', '2003-04-04', 'Shipped'),
 ('Pascale ', 'Cartrain', '10116', '2003-04-11', 'Shipped'),
 ('Eric', 'Natividad', '10117', '2003-04-16', 'Shipped'),
 ('Eduardo ', 'Saavedra', '10118', '2003-04-21', 'Shipped'),
 ('Georg ', 'Pipps', '10119', '2003-04-28', 'Shipped'),
 ('Peter', 'Ferguson', '10120', '2003-04-29', 'Shipped'),
 ('Paul ', 'Henriot', '10121', '2003-05-07', 'Shipped'),
 ('Laurence ', 'Lebihan', '10122', '2003-05-08', 'Shipped'),
 ('Carine ', 'Schmitt', '10123', '2003-05-20', 'Shipped'),
 ('Jean', 'King', '10124', '2003-05-21', 'Shipped'),
 ('Peter', 'Ferguson', '10125', '2003-05-21', 'Shipped'),
 ('Mart√≠n ', 'Sommer', '10126', '2003-05-28', 'Shipped'),
 ('Jeff', 'Young', '10127', '2003-06-03', 'Shipped'),
 ('Diego ', 'Freyre', '10128', '2003-06-06', 'Shipped'),
 ('Ann ', 'Brown', '10129', '2003-06-12', 'Shipped'),
 ('Leslie', 'Taylor', '10130', '2003-06-16', 'Shipped'),
 ('Dan', 'Lewis', '10131', '2003-06-16', 'Shipped'),
 ('Mike', 'Graham', '10132', '2003-06-25', 'Shipped'),
 ('Diego ', 'Freyre', '10133', '2003-06-27', 'Shipped'),
 ('Daniel', 'Da Silva', '10134', '2003-07-01', 'Shipped'),
 ('Susan', 'Nelson', '10135', '2003-07-02', 'Shipped'),
 ('Annette ', 'Roulet', '10136', '2003-07-04', 'Shipped'),
 ('Tony', 'Snowden', '10138', '2003-07-07', 'Shipped'),
 ('Paul ', 'Henriot', '10137', '2003-07-10', 'Shipped'),
 ('Adrian', 'Huxley', '10139', '2003-07-16', 'Shipped'),
 ('Juri', 'Hashimoto', '10140', '2003-07-24', 'Shipped'),
 ('Kalle', 'Suominen', '10141', '2003-08-01', 'Shipped'),
 ('Susan', 'Nelson', '10142', '2003-08-08', 'Shipped'),
 ('Wing', 'Huang', '10143', '2003-08-10', 'Shipped'),
 ('Pascale ', 'Cartrain', '10144', '2003-08-13', 'Shipped'),
 ('Julie', 'Young', '10145', '2003-08-25', 'Shipped'),
 ('Dan', 'Lewis', '10146', '2003-09-03', 'Shipped'),
 ('Allen', 'Nelson', '10147', '2003-09-05', 'Shipped'),
 ('Anna', "O'Hara", '10148', '2003-09-11', 'Shipped'),
 ('Sue', 'Taylor', '10149', '2003-09-12', 'Shipped'),
 ('Eric', 'Natividad', '10150', '2003-09-19', 'Shipped'),
 ('Pirkko', 'Koskitalo', '10151', '2003-09-21', 'Shipped'),
 ('Ben', 'Calaghan', '10152', '2003-09-25', 'Shipped'),
 ('Diego ', 'Freyre', '10153', '2003-09-28', 'Shipped'),
 ('Mary', 'Young', '10154', '2003-10-02', 'Shipped'),
 ('Roland', 'Keitel', '10300', '2003-10-04', 'Shipped'),
 ('Jan', 'Klaeboe', '10301', '2003-10-05', 'Shipped'),
 ('Matti', 'Karttunen', '10155', '2003-10-06', 'Shipped'),
 ('Elizabeth', 'Devon', '10302', '2003-10-06', 'Shipped'),
 ('Diego ', 'Freyre', '10156', '2003-10-08', 'Shipped'),
 ('Franco', 'Ricotti', '10157', '2003-10-09', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10158', '2003-10-10', 'Shipped'),
 ('Julie', 'Brown', '10159', '2003-10-10', 'Shipped'),
 ('Brian', 'Chandler', '10160', '2003-10-11', 'Shipped'),
 ('Palle', 'Ibsen', '10161', '2003-10-17', 'Shipped'),
 ('Julie', 'Brown', '10162', '2003-10-18', 'Shipped'),
 ('Maria', 'Hernandez', '10163', '2003-10-20', 'Shipped'),
 ('Roland ', 'Mendel', '10164', '2003-10-21', 'Resolved'),
 ('Violeta', 'Benitez', '10166', '2003-10-21', 'Shipped'),
 ('Eric', 'Natividad', '10165', '2003-10-22', 'Shipped'),
 ('Martha', 'Larsson', '10167', '2003-10-23', 'Cancelled'),
 ('Juri', 'Hashimoto', '10168', '2003-10-28', 'Shipped'),
 ('Anna', "O'Hara", '10169', '2003-11-04', 'Shipped'),
 ('Roland ', 'Mendel', '10170', '2003-11-04', 'Shipped'),
 ('Julie', 'King', '10172', '2003-11-05', 'Shipped'),
 ('Jean ', 'Fresni√®re', '10171', '2003-11-05', 'Shipped'),
 ('Giovanni ', 'Rovelli', '10173', '2003-11-05', 'Shipped'),
 ('Ann ', 'Brown', '10175', '2003-11-06', 'Shipped'),
 ('Ben', 'Calaghan', '10174', '2003-11-06', 'Shipped'),
 ('Maurizio ', 'Moroni', '10176', '2003-11-06', 'Shipped'),
 ('Jesus', 'Fernandez', '10177', '2003-11-07', 'Shipped'),
 ('Annette ', 'Roulet', '10178', '2003-11-08', 'Shipped'),
 ('Martine ', 'Ranc√©', '10180', '2003-11-11', 'Shipped'),
 ('Tony', 'Snowden', '10179', '2003-11-11', 'Cancelled'),
 ('Susan', 'Nelson', '10182', '2003-11-12', 'Shipped'),
 ('Veysel', 'Oeztan', '10181', '2003-11-12', 'Shipped'),
 ('Francisca', 'Cervantes', '10183', '2003-11-13', 'Shipped'),
 ('Wing', 'Huang', '10185', '2003-11-14', 'Shipped'),
 ('Jos√© Pedro ', 'Roel', '10184', '2003-11-14', 'Shipped'),
 ('Thomas ', 'Smith', '10186', '2003-11-14', 'Shipped'),
 ('Mike', 'Gao', '10187', '2003-11-15', 'Shipped'),
 ('Veysel', 'Oeztan', '10188', '2003-11-18', 'Shipped'),
 ('Julie', 'Young', '10189', '2003-11-18', 'Shipped'),
 ('Diego ', 'Freyre', '10190', '2003-11-19', 'Shipped'),
 ('Henriette ', 'Pfalzheim', '10191', '2003-11-20', 'Shipped'),
 ('Dorothy', 'Young', '10192', '2003-11-20', 'Shipped'),
 ('Sean', 'Clenahan', '10193', '2003-11-21', 'Shipped'),
 ('Mary ', 'Saveley', '10194', '2003-11-25', 'Shipped'),
 ('Steve', 'Frick', '10195', '2003-11-25', 'Shipped'),
 ('Eduardo ', 'Saavedra', '10197', '2003-11-26', 'Shipped'),
 ('Leslie', 'Murphy', '10196', '2003-11-26', 'Shipped'),
 ('Arnold', 'Cruz', '10198', '2003-11-27', 'Shipped'),
 ('Julie', 'Murphy', '10201', '2003-12-01', 'Shipped'),
 ('Mike', 'Gao', '10200', '2003-12-01', 'Shipped'),
 ('Steve', 'Thompson', '10199', '2003-12-01', 'Shipped'),
 ('Diego ', 'Freyre', '10203', '2003-12-02', 'Shipped'),
 ('Jeff', 'Young', '10204', '2003-12-02', 'Shipped'),
 ('Wales', 'MacKinlay', '10202', '2003-12-02', 'Shipped'),
 ('Diego ', 'Freyre', '10205', '2003-12-03', 'Shipped'),
 ('Yoshi ', 'Tamuri', '10206', '2003-12-05', 'Shipped'),
 ('Valarie', 'Franco', '10207', '2003-12-09', 'Shipped'),
 ('Mary ', 'Saveley', '10208', '2004-01-02', 'Shipped'),
 ('Brian', 'Chandler', '10209', '2004-01-09', 'Shipped'),
 ('Mory', 'Kentary', '10210', '2004-01-12', 'Shipped'),
 ('Dominique', 'Perrier', '10211', '2004-01-15', 'Shipped'),
 ('Diego ', 'Freyre', '10212', '2004-01-16', 'Shipped'),
 ('Thomas ', 'Smith', '10213', '2004-01-22', 'Shipped'),
 ('Mart√≠n ', 'Sommer', '10214', '2004-01-26', 'Shipped'),
 ('Steve', 'Thompson', '10215', '2004-01-29', 'Shipped'),
 ('Daniel ', 'Tonini', '10216', '2004-02-02', 'Shipped'),
 ('Wendy', 'Victorino', '10217', '2004-02-04', 'Shipped'),
 ('Franco', 'Ricotti', '10218', '2004-02-09', 'Shipped'),
 ('Sue', 'Taylor', '10219', '2004-02-10', 'Shipped'),
 ('Dean', 'Cassidy', '10220', '2004-02-12', 'Shipped'),
 ('Catherine ', 'Dewey', '10221', '2004-02-18', 'Shipped'),
 ('Valarie', 'Thompson', '10222', '2004-02-19', 'Shipped'),
 ('Peter', 'Ferguson', '10223', '2004-02-20', 'Shipped'),
 ('Martine ', 'Ranc√©', '10224', '2004-02-21', 'Shipped'),
 ('Mihael', 'Holz', '10225', '2004-02-22', 'Shipped'),
 ('Valarie', 'Thompson', '10226', '2004-02-26', 'Shipped'),
 ('Mary ', 'Saveley', '10227', '2004-03-02', 'Shipped'),
 ('Jerry', 'Tseng', '10228', '2004-03-10', 'Shipped'),
 ('Susan', 'Nelson', '10229', '2004-03-11', 'Shipped'),
 ('Roland', 'Keitel', '10230', '2004-03-15', 'Shipped'),
 ('Jesus', 'Fernandez', '10231', '2004-03-19', 'Shipped'),
 ('Helen ', 'Bennett', '10232', '2004-03-20', 'Shipped'),
 ('William', 'Brown', '10233', '2004-03-29', 'Shipped'),
 ('Sarah', 'McRoy', '10234', '2004-03-30', 'Shipped'),
 ('Elizabeth ', 'Lincoln', '10235', '2004-04-02', 'Shipped'),
 ('Rosa', 'Salazar', '10236', '2004-04-03', 'Shipped'),
 ('Michael', 'Frick', '10237', '2004-04-05', 'Shipped'),
 ('Jytte ', 'Petersen', '10238', '2004-04-09', 'Shipped'),
 ('Pirkko', 'Koskitalo', '10239', '2004-04-12', 'Shipped'),
 ('Mory', 'Kentary', '10240', '2004-04-13', 'Shipped'),
 ('Fr√©d√©rique ', 'Citeaux', '10241', '2004-04-13', 'Shipped'),
 ('Yu', 'Choi', '10242', '2004-04-20', 'Shipped'),
 ('Valarie', 'Franco', '10243', '2004-04-26', 'Shipped'),
 ('Diego ', 'Freyre', '10244', '2004-04-29', 'Shipped'),
 ('Leslie', 'Murphy', '10245', '2004-05-04', 'Shipped'),
 ('Diego ', 'Freyre', '10246', '2004-05-05', 'Shipped'),
 ('Kalle', 'Suominen', '10247', '2004-05-05', 'Shipped'),
 ('Kwai', 'Lee', '10248', '2004-05-07', 'Cancelled'),
 ('Jerry', 'Tseng', '10249', '2004-05-08', 'Shipped'),
 ('Sue', 'Frick', '10250', '2004-05-11', 'Shipped'),
 ('William', 'Brown', '10251', '2004-05-18', 'Shipped'),
 ('Dominique', 'Perrier', '10252', '2004-05-26', 'Shipped'),
 ('Elizabeth', 'Devon', '10253', '2004-06-01', 'Cancelled'),
 ('Mike', 'Graham', '10254', '2004-06-03', 'Shipped'),
 ('Fr√©d√©rique ', 'Citeaux', '10255', '2004-06-04', 'Shipped'),
 ('Jytte ', 'Petersen', '10256', '2004-06-08', 'Shipped'),
 ('Sue', 'Frick', '10257', '2004-06-14', 'Shipped'),
 ('Wendy', 'Victorino', '10259', '2004-06-15', 'Shipped'),
 ('Akiko', 'Shimamura', '10258', '2004-06-15', 'Shipped'),
 ('Wales', 'MacKinlay', '10260', '2004-06-16', 'Cancelled'),
 ('Jean ', 'Fresni√®re', '10261', '2004-06-17', 'Shipped'),
 ('Diego ', 'Freyre', '10262', '2004-06-24', 'Cancelled'),
 ('Julie', 'King', '10263', '2004-06-28', 'Shipped'),
 ('Juri', 'Yoshido', '10264', '2004-06-30', 'Shipped'),
 ('Sean', 'Clenahan', '10265', '2004-07-02', 'Shipped'),
 ('Maurizio ', 'Moroni', '10266', '2004-07-06', 'Shipped'),
 ('Jeff', 'Young', '10267', '2004-07-07', 'Shipped'),
 ('Sarah', 'McRoy', '10268', '2004-07-12', 'Shipped'),
 ('Georg ', 'Pipps', '10269', '2004-07-16', 'Shipped'),
 ('Adrian', 'Huxley', '10270', '2004-07-19', 'Shipped'),
 ('Susan', 'Nelson', '10271', '2004-07-20', 'Shipped'),
 ('Kelvin', 'Leong', '10272', '2004-07-20', 'Shipped'),
 ('Catherine ', 'Dewey', '10273', '2004-07-21', 'Shipped'),
 ('Allen', 'Nelson', '10274', '2004-07-21', 'Shipped'),
 ('Janine ', 'Labrune', '10275', '2004-07-23', 'Shipped'),
 ('Miguel', 'Barajas', '10276', '2004-08-02', 'Shipped'),
 ('Eric', 'Natividad', '10277', '2004-08-04', 'Shipped'),
 ('Jean', 'King', '10278', '2004-08-06', 'Shipped'),
 ('Diego ', 'Freyre', '10279', '2004-08-09', 'Shipped'),
 ('Paolo ', 'Accorti', '10280', '2004-08-17', 'Shipped'),
 ('Kelvin', 'Leong', '10281', '2004-08-19', 'Shipped'),
 ('Susan', 'Nelson', '10282', '2004-08-20', 'Shipped'),
 ('Elizabeth ', 'Lincoln', '10283', '2004-08-20', 'Shipped'),
 ('Jan', 'Klaeboe', '10284', '2004-08-21', 'Shipped'),
 ('Marta', 'Hernandez', '10285', '2004-08-27', 'Shipped'),
 ('Marie', 'Bertrand', '10286', '2004-08-28', 'Shipped'),
 ('Mihael', 'Holz', '10287', '2004-08-30', 'Shipped'),
 ('Wendy', 'Victorino', '10288', '2004-09-01', 'Shipped'),
 ('Veysel', 'Oeztan', '10289', '2004-09-03', 'Shipped'),
 ('Leslie', 'Taylor', '10290', '2004-09-07', 'Shipped'),
 ('Kwai', 'Lee', '10292', '2004-09-08', 'Shipped'),
 ('Martha', 'Larsson', '10291', '2004-09-08', 'Shipped'),
 ('Paolo ', 'Accorti', '10293', '2004-09-09', 'Shipped'),
 ('Miguel', 'Barajas', '10294', '2004-09-10', 'Shipped'),
 ('Juri', 'Yoshido', '10295', '2004-09-10', 'Shipped'),
 ('Michael', 'Donnermeyer', '10296', '2004-09-15', 'Shipped'),
 ('Dean', 'Cassidy', '10297', '2004-09-16', 'Shipped'),
 ('Carine ', 'Schmitt', '10298', '2004-09-27', 'Shipped'),
 ('Matti', 'Karttunen', '10299', '2004-09-30', 'Shipped'),
 ('Jos√© Pedro ', 'Roel', '10303', '2004-10-06', 'Shipped'),
 ('Daniel ', 'Tonini', '10304', '2004-10-11', 'Shipped'),
 ('Marta', 'Hernandez', '10305', '2004-10-13', 'Shipped'),
 ('Rachel', 'Ashworth', '10306', '2004-10-14', 'Shipped'),
 ('Francisca', 'Cervantes', '10307', '2004-10-14', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10309', '2004-10-15', 'Shipped'),
 ('Steve', 'Frick', '10308', '2004-10-15', 'Shipped'),
 ('Diego ', 'Freyre', '10311', '2004-10-16', 'Shipped'),
 ('Henriette ', 'Pfalzheim', '10310', '2004-10-16', 'Shipped'),
 ('Susan', 'Nelson', '10312', '2004-10-21', 'Shipped'),
 ('Yoshi ', 'Tamuri', '10313', '2004-10-22', 'Shipped'),
 ('Palle', 'Ibsen', '10314', '2004-10-22', 'Shipped'),
 ('Janine ', 'Labrune', '10315', '2004-10-29', 'Shipped'),
 ('Helen ', 'Bennett', '10316', '2004-11-01', 'Shipped'),
 ('Mart√≠n ', 'Sommer', '10348', '2004-11-01', 'Shipped'),
 ('Kelvin', 'Leong', '10318', '2004-11-02', 'Shipped'),
 ('Juri', 'Hashimoto', '10317', '2004-11-02', 'Shipped'),
 ('Christina ', 'Berglund', '10320', '2004-11-03', 'Shipped'),
 ('Yu', 'Choi', '10319', '2004-11-03', 'Shipped'),
 ('Dorothy', 'Young', '10322', '2004-11-04', 'Shipped'),
 ('Violeta', 'Benitez', '10321', '2004-11-04', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10325', '2004-11-05', 'Shipped'),
 ('Roland', 'Keitel', '10323', '2004-11-05', 'Shipped'),
 ('Michael', 'Frick', '10324', '2004-11-05', 'Shipped'),
 ('Christina ', 'Berglund', '10326', '2004-11-09', 'Shipped'),
 ('Jytte ', 'Petersen', '10327', '2004-11-10', 'Resolved'),
 ('Giovanni ', 'Rovelli', '10328', '2004-11-12', 'Shipped'),
 ('Kwai', 'Lee', '10329', '2004-11-15', 'Shipped'),
 ('Arnold', 'Cruz', '10330', '2004-11-16', 'Shipped'),
 ('Rachel', 'Ashworth', '10332', '2004-11-17', 'Shipped'),
 ('Rosa', 'Salazar', '10331', '2004-11-17', 'Shipped'),
 ('Julie', 'Murphy', '10333', '2004-11-18', 'Shipped'),
 ('Susan', 'Nelson', '10335', '2004-11-19', 'Shipped'),
 ('Christina ', 'Berglund', '10334', '2004-11-19', 'On Hold'),
 ('Marie', 'Bertrand', '10336', '2004-11-20', 'Shipped'),
 ('Maria', 'Hernandez', '10337', '2004-11-21', 'Shipped'),
 ('Pascale ', 'Cartrain', '10338', '2004-11-22', 'Shipped'),
 ('Akiko', 'Shimamura', '10339', '2004-11-23', 'Shipped'),
 ('Peter', 'Ferguson', '10342', '2004-11-24', 'Shipped'),
 ('Eduardo ', 'Saavedra', '10340', '2004-11-24', 'Shipped'),
 ('Paul ', 'Henriot', '10343', '2004-11-24', 'Shipped'),
 ('Georg ', 'Pipps', '10341', '2004-11-24', 'Shipped'),
 ('Carine ', 'Schmitt', '10345', '2004-11-25', 'Shipped'),
 ('Laurence ', 'Lebihan', '10344', '2004-11-25', 'Shipped'),
 ('Jean', 'King', '10346', '2004-11-29', 'Shipped'),
 ('Peter', 'Ferguson', '10347', '2004-11-29', 'Shipped'),
 ('Jeff', 'Young', '10349', '2004-12-01', 'Shipped'),
 ('Diego ', 'Freyre', '10350', '2004-12-02', 'Shipped'),
 ('Leslie', 'Taylor', '10352', '2004-12-03', 'Shipped'),
 ('Ann ', 'Brown', '10351', '2004-12-03', 'Shipped'),
 ('Mike', 'Graham', '10354', '2004-12-04', 'Shipped'),
 ('Dan', 'Lewis', '10353', '2004-12-04', 'Shipped'),
 ('Diego ', 'Freyre', '10355', '2004-12-07', 'Shipped'),
 ('Daniel', 'Da Silva', '10356', '2004-12-09', 'Shipped'),
 ('Susan', 'Nelson', '10357', '2004-12-10', 'Shipped'),
 ('Diego ', 'Freyre', '10358', '2004-12-10', 'Shipped'),
 ('Paul ', 'Henriot', '10359', '2004-12-15', 'Shipped'),
 ('Tony', 'Snowden', '10360', '2004-12-16', 'Shipped'),
 ('Adrian', 'Huxley', '10361', '2004-12-17', 'Shipped'),
 ('Juri', 'Hashimoto', '10362', '2005-01-05', 'Shipped'),
 ('Kalle', 'Suominen', '10363', '2005-01-06', 'Shipped'),
 ('Laurence ', 'Lebihan', '10364', '2005-01-06', 'Shipped'),
 ('Wing', 'Huang', '10365', '2005-01-07', 'Shipped'),
 ('Pascale ', 'Cartrain', '10366', '2005-01-10', 'Shipped'),
 ('Julie', 'Young', '10367', '2005-01-12', 'Resolved'),
 ('Susan', 'Nelson', '10368', '2005-01-19', 'Shipped'),
 ('Anna', "O'Hara", '10370', '2005-01-20', 'Shipped'),
 ('Allen', 'Nelson', '10369', '2005-01-20', 'Shipped'),
 ('Susan', 'Nelson', '10371', '2005-01-23', 'Shipped'),
 ('Akiko', 'Shimamura', '10372', '2005-01-26', 'Shipped'),
 ('Pirkko', 'Koskitalo', '10373', '2005-01-31', 'Shipped'),
 ('Ben', 'Calaghan', '10374', '2005-02-02', 'Shipped'),
 ('Janine ', 'Labrune', '10375', '2005-02-03', 'Shipped'),
 ('Mary', 'Young', '10376', '2005-02-08', 'Shipped'),
 ('Matti', 'Karttunen', '10377', '2005-02-09', 'Shipped'),
 ('Diego ', 'Freyre', '10378', '2005-02-10', 'Shipped'),
 ('Diego ', 'Freyre', '10379', '2005-02-10', 'Shipped'),
 ('Diego ', 'Freyre', '10380', '2005-02-16', 'Shipped'),
 ('Susan', 'Nelson', '10382', '2005-02-17', 'Shipped'),
 ('Julie', 'Brown', '10381', '2005-02-17', 'Shipped'),
 ('Diego ', 'Freyre', '10383', '2005-02-22', 'Shipped'),
 ('Julie', 'Brown', '10384', '2005-02-23', 'Shipped'),
 ('Susan', 'Nelson', '10385', '2005-02-28', 'Shipped'),
 ('Diego ', 'Freyre', '10386', '2005-03-01', 'Resolved'),
 ('Eric', 'Natividad', '10387', '2005-03-02', 'Shipped'),
 ('Martha', 'Larsson', '10389', '2005-03-03', 'Shipped'),
 ('Violeta', 'Benitez', '10388', '2005-03-03', 'Shipped'),
 ('Susan', 'Nelson', '10390', '2005-03-04', 'Shipped'),
 ('Anna', "O'Hara", '10391', '2005-03-09', 'Shipped'),
 ('Roland ', 'Mendel', '10392', '2005-03-10', 'Shipped'),
 ('Mike', 'Graham', '10393', '2005-03-11', 'Shipped'),
 ('Diego ', 'Freyre', '10394', '2005-03-15', 'Shipped'),
 ('Daniel', 'Da Silva', '10395', '2005-03-17', 'Shipped'),
 ('Susan', 'Nelson', '10396', '2005-03-23', 'Shipped'),
 ('Annette ', 'Roulet', '10397', '2005-03-28', 'Shipped'),
 ('Paul ', 'Henriot', '10398', '2005-03-30', 'Shipped'),
 ('Sue', 'Frick', '10400', '2005-04-01', 'Shipped'),
 ('Tony', 'Snowden', '10399', '2005-04-01', 'Shipped'),
 ('William', 'Brown', '10401', '2005-04-03', 'On Hold'),
 ('Dominique', 'Perrier', '10402', '2005-04-07', 'Shipped'),
 ('Elizabeth', 'Devon', '10403', '2005-04-08', 'Shipped'),
 ('Mike', 'Graham', '10404', '2005-04-08', 'Shipped'),
 ('Fr√©d√©rique ', 'Citeaux', '10405', '2005-04-14', 'Shipped'),
 ('Jytte ', 'Petersen', '10406', '2005-04-15', 'Disputed'),
 ('Akiko', 'Shimamura', '10408', '2005-04-22', 'Shipped'),
 ('Sue', 'Frick', '10407', '2005-04-22', 'On Hold'),
 ('Wendy', 'Victorino', '10409', '2005-04-23', 'Shipped'),
 ('Wales', 'MacKinlay', '10410', '2005-04-29', 'Shipped'),
 ('Jean ', 'Fresni√®re', '10411', '2005-05-01', 'Shipped'),
 ('Diego ', 'Freyre', '10412', '2005-05-03', 'Shipped'),
 ('Julie', 'King', '10413', '2005-05-05', 'Shipped'),
 ('Juri', 'Yoshido', '10414', '2005-05-06', 'On Hold'),
 ('Sean', 'Clenahan', '10415', '2005-05-09', 'Disputed'),
 ('Maurizio ', 'Moroni', '10416', '2005-05-10', 'Shipped'),
 ('Diego ', 'Freyre', '10417', '2005-05-13', 'Disputed'),
 ('Sarah', 'McRoy', '10418', '2005-05-16', 'Shipped'),
 ('Georg ', 'Pipps', '10419', '2005-05-17', 'Shipped'),
 ('Susan', 'Nelson', '10421', '2005-05-29', 'In Process'),
 ('Adrian', 'Huxley', '10420', '2005-05-29', 'In Process'),
 ('Kelvin', 'Leong', '10422', '2005-05-30', 'In Process'),
 ('Catherine ', 'Dewey', '10423', '2005-05-30', 'In Process'),
 ('Janine ', 'Labrune', '10425', '2005-05-31', 'In Process'),
 ('Diego ', 'Freyre', '10424', '2005-05-31', 'In Process')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [12]:
c.execute('''SELECT contactFirstName, contactLastName, amount, paymentDate
             FROM customers
             JOIN payments
             USING(customerNumber)
             ORDER BY amount;''').fetchall()

[('Susan', 'Nelson', '101244.59', '2005-03-05'),
 ('Dorothy', 'Young', '10223.83', '2003-01-16'),
 ('Roland', 'Keitel', '10549.01', '2003-01-28'),
 ('Eric', 'Natividad', '105743.00', '2003-12-26'),
 ('Susan', 'Nelson', '11044.30', '2003-04-11'),
 ('Susan', 'Nelson', '111654.40', '2003-08-15'),
 ('Pascale ', 'Cartrain', '1128.20', '2003-08-22'),
 ('Diego ', 'Freyre', '116208.40', '2004-12-31'),
 ('Jerry', 'Tseng', '11843.45', '2004-05-13'),
 ('Diego ', 'Freyre', '120166.58', '2005-03-18'),
 ('Pascale ', 'Cartrain', '12081.52', '2004-12-03'),
 ('Dominique', 'Perrier', '12190.85', '2005-04-23'),
 ('Annette ', 'Roulet', '12432.32', '2005-06-03'),
 ('Allen', 'Nelson', '12530.51', '2004-08-02'),
 ('Veysel', 'Oeztan', '12538.01', '2004-09-19'),
 ('Sue', 'Taylor', '12573.28', '2004-02-29'),
 ('Juri', 'Hashimoto', '12692.19', '2005-02-02'),
 ('Ann ', 'Brown', '13671.82', '2004-12-13'),
 ('Paul ', 'Henriot', '13920.26', '2003-07-21'),
 ('Jean', 'King', '14191.12', '2004-12-17'),
 ('Annette ', 'Roulet', '14232.70', '2003-07-21'),
 ('Pascale ', 'Cartrain', '14379.90', '2005-02-03'),
 ('Carine ', 'Schmitt', '14571.44', '2003-06-05'),
 ('Jonas ', 'Bergulfsen', '1491.38', '2003-10-28'),
 ('Juri', 'Yoshido', '15059.76', '2004-09-21'),
 ('Roland ', 'Mendel', '15130.97', '2003-11-20'),
 ('Mory', 'Kentary', '15183.63', '2004-04-17'),
 ('Jesus', 'Fernandez', '15322.93', '2004-04-02'),
 ('Arnold', 'Cruz', '15822.84', '2004-11-19'),
 ('Pirkko', 'Koskitalo', '16212.59', '2004-04-25'),
 ('Pascale ', 'Cartrain', '1627.56', '2003-04-19'),
 ('Julie', 'Murphy', '16537.85', '2003-04-09'),
 ('Paul ', 'Henriot', '16700.47', '2003-05-21'),
 ('Carine ', 'Schmitt', '1676.14', '2004-12-18'),
 ('Yu', 'Choi', '1679.92', '2004-04-30'),
 ('Catherine ', 'Dewey', '16901.38', '2004-03-03'),
 ('Jean ', 'Fresni√®re', '16909.84', '2003-11-18'),
 ('Dan', 'Lewis', '17032.29', '2003-06-25'),
 ('Dean', 'Cassidy', '17359.53', '2004-10-03'),
 ('Franco', 'Ricotti', '17746.26', '2003-10-27'),
 ('Jonas ', 'Bergulfsen', '17876.32', '2004-11-04'),
 ('Daniel', 'Da Silva', '17928.09', '2005-05-17'),
 ('Laurence ', 'Lebihan', '1834.56', '2005-01-29'),
 ('Juri', 'Yoshido', '18473.71', '2004-07-11'),
 ('Laurence ', 'Lebihan', '18888.31', '2004-12-11'),
 ('Martine ', 'Ranc√©', '18997.89', '2004-03-15'),
 ('Janine ', 'Labrune', '19501.82', '2004-11-14'),
 ('Marie', 'Bertrand', '1960.80', '2004-09-09'),
 ('Diego ', 'Freyre', '20009.53', '2004-08-16'),
 ('Wales', 'MacKinlay', '20220.04', '2003-12-16'),
 ('Jeff', 'Young', '20314.44', '2004-07-26'),
 ('Jerry', 'Tseng', '20355.24', '2004-03-29'),
 ('Brian', 'Chandler', '20452.50', '2003-10-24'),
 ('Jytte ', 'Petersen', '20564.86', '2004-12-01'),
 ('Arnold', 'Cruz', '20644.24', '2003-12-02'),
 ('Brian', 'Chandler', '21053.69', '2004-01-18'),
 ('Ben', 'Calaghan', '21432.31', '2005-03-01'),
 ('Maria', 'Hernandez', '21665.98', '2003-04-16'),
 ('Akiko', 'Shimamura', '22037.91', '2004-06-21'),
 ('Maria', 'Hernandez', '22042.37', '2003-10-31'),
 ('Mart√≠n ', 'Sommer', '22162.61', '2004-02-06'),
 ('Thomas ', 'Smith', '22275.73', '2003-12-04'),
 ('Kwai', 'Lee', '22292.62', '2003-03-12'),
 ('Wendy', 'Victorino', '22474.17', '2004-02-28'),
 ('Michael', 'Frick', '22602.36', '2004-04-25'),
 ('Jean ', 'Fresni√®re', '22997.45', '2004-07-01'),
 ('Francisca', 'Cervantes', '23333.06', '2004-10-24'),
 ('Daniel', 'Da Silva', '23419.47', '2003-07-18'),
 ('Matti', 'Karttunen', '23602.90', '2005-03-10'),
 ('Elizabeth', 'Devon', '23908.24', '2003-10-20'),
 ('Julie', 'Murphy', '23923.93', '2003-12-11'),
 ('Ben', 'Calaghan', '23936.53', '2003-11-15'),
 ('Adrian', 'Huxley', '24013.52', '2003-08-03'),
 ('Roland', 'Keitel', '24101.81', '2003-10-18'),
 ('Juri', 'Hashimoto', '2434.25', '2004-11-14'),
 ('Julie', 'King', '24879.08', '2003-11-19'),
 ('Eduardo ', 'Saavedra', '24945.21', '2004-12-06'),
 ('Helen ', 'Bennett', '24995.61', '2004-03-28'),
 ('Dominique', 'Perrier', '25080.96', '2004-06-17'),
 ('Maria', 'Hernandez', '25505.98', '2004-12-07'),
 ('Rosa', 'Salazar', '25833.14', '2003-03-20'),
 ('Eric', 'Natividad', '2611.84', '2004-08-11'),
 ('Diego ', 'Freyre', '26155.91', '2004-05-17'),
 ('Julie', 'Murphy', '26248.78', '2004-12-08'),
 ('Dan', 'Lewis', '26304.13', '2004-12-17'),
 ('Daniel', 'Da Silva', '26311.63', '2004-12-30'),
 ('Anna', "O'Hara", '27083.78', '2005-02-09'),
 ('Roland ', 'Mendel', '27121.90', '2003-11-15'),
 ('Yu', 'Choi', '27550.51', '2004-11-13'),
 ('Martha', 'Larsson', '27966.54', '2005-04-18'),
 ('Henriette ', 'Pfalzheim', '27988.47', '2003-12-07'),
 ('Jytte ', 'Petersen', '28211.70', '2004-04-26'),
 ('Allen', 'Nelson', '28322.83', '2005-02-12'),
 ('Kalle', 'Suominen', '28394.54', '2004-05-22'),
 ('Julie', 'King', '28500.78', '2005-05-19'),
 ('Mike', 'Graham', '2880.00', '2003-07-05'),
 ('Jean ', 'Fresni√®re', '29070.38', '2005-05-20'),
 ('Elizabeth ', 'Lincoln', '29284.42', '2004-04-24'),
 ('Ann ', 'Brown', '29429.14', '2003-07-07'),
 ('Kalle', 'Suominen', '29716.86', '2003-08-16'),
 ('Anna', "O'Hara", '29848.52', '2005-04-30'),
 ('Sue', 'Taylor', '29997.09', '2003-09-28'),
 ('Tony', 'Snowden', '30253.75', '2005-05-25'),
 ('Violeta', 'Benitez', '30293.77', '2005-04-15'),
 ('Eduardo ', 'Saavedra', '3101.40', '2003-05-09'),
 ('William', 'Brown', '31102.85', '2004-05-30'),
 ('Michael', 'Donnermeyer', '31310.09', '2004-09-28'),
 ('Jesus', 'Fernandez', '31428.21', '2003-11-24'),
 ('Sarah', 'McRoy', '31670.37', '2004-04-14'),
 ('Adrian', 'Huxley', '31835.36', '2005-01-03'),
 ('Tony', 'Snowden', '32077.44', '2003-07-16'),
 ('Leslie', 'Murphy', '32239.47', '2004-05-12'),
 ('Jan', 'Klaeboe', '32260.16', '2004-09-05'),
 ('Dean', 'Cassidy', '32538.74', '2004-03-01'),
 ('Jean', 'King', '32641.98', '2003-06-06'),
 ('Allen', 'Nelson', '32680.31', '2003-09-16'),
 ('Pirkko', 'Koskitalo', '32723.04', '2003-10-06'),
 ('Mart√≠n ', 'Sommer', '33145.56', '2004-11-15'),
 ('Jean', 'King', '33347.88', '2004-08-20'),
 ('Marie', 'Bertrand', '33383.14', '2003-04-20'),
 ('Yoshi ', 'Tamuri', '33594.58', '2004-11-08'),
 ('Annette ', 'Roulet', '33818.34', '2003-11-22'),
 ('Roland', 'Keitel', '33820.62', '2004-03-24'),
 ('Paolo ', 'Accorti', '33924.24', '2004-09-19'),
 ('Akiko', 'Shimamura', '33967.73', '2005-02-14'),
 ('Matti', 'Karttunen', '34341.08', '2004-10-21'),
 ('Mary', 'Young', '3452.75', '2005-03-02'),
 ('Francisca', 'Cervantes', '34606.28', '2003-11-28'),
 ('Jonas ', 'Bergulfsen', '34638.14', '2004-11-28'),
 ('Jos√© Pedro ', 'Roel', '3474.66', '2004-10-26'),
 ('Sarah', 'McRoy', '35034.57', '2004-07-25'),
 ('Kelvin', 'Leong', '35152.12', '2004-11-19'),
 ('Fr√©d√©rique ', 'Citeaux', '35157.75', '2005-05-03'),
 ('Eric', 'Natividad', '3516.04', '2005-03-27'),
 ('Kwai', 'Lee', '35321.97', '2004-09-11'),
 ('Diego ', 'Freyre', '35420.74', '2004-07-09'),
 ('Sean', 'Clenahan', '35505.63', '2003-12-10'),
 ('Adrian', 'Huxley', '35806.73', '2004-08-02'),
 ('Georg ', 'Pipps', '35826.33', '2003-05-12'),
 ('Christina ', 'Berglund', '36005.71', '2004-12-12'),
 ('Fr√©d√©rique ', 'Citeaux', '36069.26', '2004-05-04'),
 ('Steve', 'Thompson', '36070.47', '2004-02-13'),
 ('Steve', 'Frick', '36092.40', '2003-12-07'),
 ('Diego ', 'Freyre', '36140.38', '2004-11-01'),
 ('Palle', 'Ibsen', '36164.46', '2003-10-31'),
 ('Diego ', 'Freyre', '36251.03', '2003-07-19'),
 ('Wales', 'MacKinlay', '36442.34', '2004-05-15'),
 ('Yoshi ', 'Tamuri', '36527.61', '2003-12-18'),
 ('Jan', 'Klaeboe', '36798.88', '2003-10-24'),
 ('Elizabeth', 'Devon', '37258.94', '2004-06-15'),
 ('Mike', 'Graham', '37281.36', '2004-06-24'),
 ('Ann ', 'Brown', '37455.77', '2003-11-23'),
 ('Elizabeth ', 'Lincoln', '37527.58', '2004-08-30'),
 ('Matti', 'Karttunen', '37602.48', '2003-10-27'),
 ('Giovanni ', 'Rovelli', '37654.09', '2004-12-05'),
 ('Giovanni ', 'Rovelli', '37723.79', '2003-11-24'),
 ('Leslie', 'Murphy', '38139.18', '2003-12-05'),
 ('Maurizio ', 'Moroni', '38524.29', '2003-11-18'),
 ('Anna', "O'Hara", '38547.19', '2003-11-13'),
 ('Juri', 'Hashimoto', '38675.13', '2003-08-05'),
 ('Wendy', 'Victorino', '38785.48', '2004-09-16'),
 ('Julie', 'Young', '3879.96', '2003-12-04'),
 ('Mike', 'Graham', '39440.59', '2004-12-24'),
 ('Julie', 'Young', '39580.60', '2005-02-06'),
 ('Mary ', 'Saveley', '39712.10', '2003-12-10'),
 ('Jeff', 'Young', '39964.63', '2004-12-14'),
 ('Diego ', 'Freyre', '40206.20', '2003-02-25'),
 ('Eduardo ', 'Saavedra', '40473.86', '2003-12-14'),
 ('Mary ', 'Saveley', '40978.53', '2004-03-18'),
 ('Wing', 'Huang', '41016.75', '2003-08-20'),
 ('Anna', "O'Hara", '41554.73', '2003-09-28'),
 ('Julie', 'King', '42044.77', '2004-07-10'),
 ('Steve', 'Frick', '42339.76', '2004-11-06'),
 ('Martine ', 'Ranc√©', '42783.81', '2003-11-22'),
 ('Georg ', 'Pipps', '42813.83', '2004-11-27'),
 ('Marta', 'Hernandez', '43134.04', '2004-09-05'),
 ('Susan', 'Nelson', '43369.30', '2004-03-26'),
 ('Wendy', 'Victorino', '44160.92', '2004-07-07'),
 ('Miguel', 'Barajas', '4424.40', '2004-09-24'),
 ('Eric', 'Natividad', '44380.15', '2003-04-22'),
 ('Michael', 'Frick', '44400.50', '2004-11-16'),
 ('Mary', 'Young', '4465.85', '2003-10-18'),
 ('Peter', 'Ferguson', '44894.74', '2004-03-10'),
 ('Susan', 'Nelson', '45084.38', '2003-11-25'),
 ('Catherine ', 'Dewey', '45352.47', '2004-08-09'),
 ('Mike', 'Gao', '45480.79', '2003-12-09'),
 ('Kalle', 'Suominen', '45785.34', '2005-01-27'),
 ('Peter', 'Ferguson', '45864.03', '2003-05-20'),
 ('Rosa', 'Salazar', '45994.07', '2004-11-23'),
 ('Fr√©d√©rique ', 'Citeaux', '4632.31', '2004-06-21'),
 ('Paul ', 'Henriot', '46656.94', '2005-06-09'),
 ('Pirkko', 'Koskitalo', '46770.52', '2005-02-15'),
 ('Julie', 'Brown', '46781.66', '2005-03-15'),
 ('Helen ', 'Bennett', '46788.14', '2004-11-16'),
 ('Diego ', 'Freyre', '46895.48', '2005-05-19'),
 ('Jytte ', 'Petersen', '4710.73', '2004-07-03'),
 ('Susan', 'Nelson', '47142.70', '2004-12-27'),
 ('Rachel', 'Ashworth', '47159.11', '2004-12-08'),
 ('Mory', 'Kentary', '47177.59', '2004-01-19'),
 ('Mihael', 'Holz', '47375.92', '2004-03-13'),
 ('Marta', 'Hernandez', '47411.33', '2004-10-28'),
 ('Jos√© Pedro ', 'Roel', '47513.19', '2003-11-29'),
 ('Janine ', 'Labrune', '47924.19', '2004-08-08'),
 ('Paolo ', 'Accorti', '48298.99', '2004-09-04'),
 ('Violeta', 'Benitez', '48355.87', '2004-11-27'),
 ('Rachel', 'Ashworth', '48425.69', '2003-03-27'),
 ('Martha', 'Larsson', '48809.90', '2004-09-30'),
 ('Akiko', 'Shimamura', '48927.64', '2004-11-29'),
 ('Dominique', 'Perrier', '49165.16', '2004-01-28'),
 ('Janine ', 'Labrune', '49523.67', '2005-02-22'),
 ('Diego ', 'Freyre', '49539.37', '2003-10-26'),
 ('Mary ', 'Saveley', '49614.72', '2004-01-16'),
 ('Paul ', 'Henriot', '49705.52', '2005-01-10'),
 ('Kwai', 'Lee', '50025.35', '2004-12-02'),
 ('Jonas ', 'Bergulfsen', '50218.95', '2003-02-16'),
 ('Julie', 'Young', '50342.74', '2003-09-05'),
 ('Juri', 'Hashimoto', '50743.65', '2003-11-18'),
 ('Dorothy', 'Young', '50799.69', '2004-11-17'),
 ('Laurence ', 'Lebihan', '50824.66', '2003-05-25'),
 ('Arnold', 'Cruz', '51001.22', '2003-03-09'),
 ('Miguel', 'Barajas', '51152.86', '2004-08-13'),
 ('Marie', 'Bertrand', '51209.58', '2004-12-04'),
 ('Maurizio ', 'Moroni', '51619.02', '2004-07-18'),
 ('Giovanni ', 'Rovelli', '52151.81', '2003-03-02'),
 ('Tony', 'Snowden', '52166.00', '2004-12-31'),
 ('Wing', 'Huang', '52548.49', '2003-11-24'),
 ('Rachel', 'Ashworth', '52825.29', '2004-11-03'),
 ('Daniel ', 'Tonini', '53116.99', '2004-10-22'),
 ('Palle', 'Ibsen', '53745.34', '2004-11-02'),
 ('Jytte ', 'Petersen', '53959.21', '2003-02-20'),
 ('Michael', 'Frick', '5494.78', '2003-01-30'),
 ('Dorothy', 'Young', '55425.77', '2003-12-05'),
 ('Susan', 'Nelson', '55639.66', '2004-11-02'),
 ('Mart√≠n ', 'Sommer', '57131.92', '2003-06-13'),
 ('Daniel ', 'Tonini', '5759.42', '2004-02-10'),
 ('Leslie', 'Taylor', '5858.56', '2004-09-21'),
 ('Jeff', 'Young', '58793.53', '2003-12-22'),
 ('Jeff', 'Young', '58841.35', '2003-06-18'),
 ('Rosa', 'Salazar', '5899.38', '2004-04-14'),
 ('Valarie', 'Franco', '59265.14', '2003-12-26'),
 ('Sue', 'Frick', '59551.38', '2004-06-21'),
 ('Diego ', 'Freyre', '59830.55', '2004-01-30'),
 ('Leslie', 'Taylor', '6036.96', '2003-07-06'),
 ('Carine ', 'Schmitt', '6066.78', '2004-10-19'),
 ('Henriette ', 'Pfalzheim', '61234.67', '2004-11-06'),
 ('Mihael', 'Holz', '61402.00', '2004-09-18'),
 ('Akiko', 'Shimamura', '615.45', '2005-05-18'),
 ('Valarie', 'Franco', '6276.60', '2004-05-14'),
 ('Kelvin', 'Leong', '63357.13', '2004-09-07'),
 ('Diego ', 'Freyre', '63843.55', '2003-12-09'),
 ('Georg ', 'Pipps', '6419.84', '2004-08-01'),
 ('Diego ', 'Freyre', '65071.26', '2005-03-25'),
 ('Dan', 'Lewis', '6631.36', '2003-09-15'),
 ('William', 'Brown', '7178.66', '2004-04-16'),
 ('Thomas ', 'Smith', '7310.42', '2004-01-31'),
 ('Roland', 'Keitel', '7466.32', '2004-11-18'),
 ('Mike', 'Graham', '75020.13', '2005-05-23'),
 ('Peter', 'Ferguson', '7565.08', '2003-05-31'),
 ('Franco', 'Ricotti', '7612.06', '2004-02-17'),
 ('Christina ', 'Berglund', '7674.94', '2003-04-09'),
 ('Steve', 'Thompson', '7678.25', '2003-12-09'),
 ('Valarie', 'Thompson', '80375.24', '2004-03-15'),
 ('Peter', 'Ferguson', '82261.22', '2004-12-15'),
 ('Wing', 'Huang', '8307.28', '2005-01-18'),
 ('Susan', 'Nelson', '83598.04', '2005-04-16'),
 ('Veysel', 'Oeztan', '85024.46', '2003-12-03'),
 ('Susan', 'Nelson', '85410.87', '2004-08-28'),
 ('Julie', 'Brown', '85559.12', '2003-11-03'),
 ('Roland ', 'Mendel', '8807.12', '2005-05-03'),
 ('Sean', 'Clenahan', '9415.13', '2004-07-28'),
 ('Leslie', 'Taylor', '9658.74', '2004-12-06'),
 ('Ben', 'Calaghan', '9821.32', '2003-10-17'),
 ('Violeta', 'Benitez', '9977.85', '2003-11-08')]

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [3]:
c.execute('''SELECT contactFirstName, contactLastName, orderDate, productName, quantityOrdered
             FROM customers
             JOIN orders
             USING(customerNumber)
             JOIN orderdetails
             USING(orderNumber)
             JOIN products
             USING(productCode)
             ORDER BY orderDate DESC;''').fetchall()

[('Janine ', 'Labrune', '2005-05-31', '1962 LanciaA Delta 16V', '38'),
 ('Janine ', 'Labrune', '2005-05-31', '1957 Chevy Pickup', '33'),
 ('Janine ', 'Labrune', '2005-05-31', '1998 Chrysler Plymouth Prowler', '28'),
 ('Janine ', 'Labrune', '2005-05-31', '1964 Mercedes Tour Bus', '38'),
 ('Janine ', 'Labrune', '2005-05-31', '1926 Ford Fire Engine', '19'),
 ('Janine ', 'Labrune', '2005-05-31', '1992 Ferrari 360 Spider red', '28'),
 ('Janine ', 'Labrune', '2005-05-31', '1940s Ford truck', '38'),
 ('Janine ', 'Labrune', '2005-05-31', '1970 Dodge Coronet', '55'),
 ('Janine ', 'Labrune', '2005-05-31', '1962 Volkswagen Microbus', '49'),
 ('Janine ',
  'Labrune',
  '2005-05-31',
  '1958 Chevy Corvette Limited Edition',
  '31'),
 ('Janine ', 'Labrune', '2005-05-31', '1980‚Äôs GM Manhattan Express', '41'),
 ('Janine ', 'Labrune', '2005-05-31', '1954 Greyhound Scenicruiser', '11'),
 ('Janine ',
  'Labrune',
  '2005-05-31',
  'Diamond T620 Semi-Skirted Tanker',
  '18'),
 ('Diego ', 'Freyre', '2005-05-31', '1952 Alpine Renault 1300', '50'),
 ('Diego ', 'Freyre', '2005-05-31', '1958 Setra Bus', '49'),
 ('Diego ', 'Freyre', '2005-05-31', '1940 Ford Pickup Truck', '54'),
 ('Diego ', 'Freyre', '2005-05-31', '1939 Cadillac Limousine', '26'),
 ('Diego ',
  'Freyre',
  '2005-05-31',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '44'),
 ('Diego ', 'Freyre', '2005-05-31', '1982 Camaro Z28', '46'),
 ('Kelvin', 'Leong', '2005-05-30', '1937 Lincoln Berline', '51'),
 ('Kelvin',
  'Leong',
  '2005-05-30',
  '1936 Mercedes-Benz 500K Special Roadster',
  '25'),
 ('Catherine ', 'Dewey', '2005-05-30', '1913 Ford Model T Speedster', '10'),
 ('Catherine ', 'Dewey', '2005-05-30', '1934 Ford V8 Coupe', '31'),
 ('Catherine ',
  'Dewey',
  '2005-05-30',
  '18th Century Vintage Horse Carriage',
  '21'),
 ('Catherine ', 'Dewey', '2005-05-30', '1917 Maxwell Touring Car', '21'),
 ('Catherine ', 'Dewey', '2005-05-30', '1936 Chrysler Airflow', '28'),
 ('Susan', 'Nelson', '2005-05-29', '1928 Mercedes-Benz SSK', '35'),
 ('Susan',
  'Nelson',
  '2005-05-29',
  '1938 Cadillac V-16 Presidential Limousine',
  '40'),
 ('Adrian', 'Huxley', '2005-05-29', '1917 Grand Touring Sedan', '37'),
 ('Adrian', 'Huxley', '2005-05-29', '1911 Ford Town Car', '36'),
 ('Adrian', 'Huxley', '2005-05-29', '1932 Model A Ford J-Coupe', '45'),
 ('Adrian',
  'Huxley',
  '2005-05-29',
  '1932 Alfa Romeo 8C2300 Spider Sport',
  '66'),
 ('Adrian', 'Huxley', '2005-05-29', '1957 Ford Thunderbird', '36'),
 ('Adrian', 'Huxley', '2005-05-29', '1970 Chevy Chevelle SS 454', '60'),
 ('Adrian', 'Huxley', '2005-05-29', '1966 Shelby Cobra 427 S/C', '37'),
 ('Adrian', 'Huxley', '2005-05-29', '1939 Chevrolet Deluxe Coupe', '45'),
 ('Adrian', 'Huxley', '2005-05-29', '1949 Jaguar XK 120', '39'),
 ('Adrian', 'Huxley', '2005-05-29', '1952 Citroen-15CV', '55'),
 ('Adrian', 'Huxley', '2005-05-29', '1969 Chevrolet Camaro Z28', '35'),
 ('Adrian', 'Huxley', '2005-05-29', '2002 Chevy Corvette', '26'),
 ('Adrian', 'Huxley', '2005-05-29', '1936 Mercedes Benz 500k Roadster', '15'),
 ('Georg ', 'Pipps', '2005-05-17', '1968 Ford Mustang', '12'),
 ('Georg ', 'Pipps', '2005-05-17', '1968 Dodge Charger', '10'),
 ('Georg ', 'Pipps', '2005-05-17', '1970 Plymouth Hemi Cuda', '34'),
 ('Georg ', 'Pipps', '2005-05-17', '1969 Dodge Charger', '32'),
 ('Georg ', 'Pipps', '2005-05-17', '1993 Mazda RX-7', '38'),
 ('Georg ', 'Pipps', '2005-05-17', '1965 Aston Martin DB5', '37'),
 ('Georg ', 'Pipps', '2005-05-17', '1948 Porsche 356-A Roadster', '39'),
 ('Georg ', 'Pipps', '2005-05-17', '1995 Honda Civic', '34'),
 ('Georg ', 'Pipps', '2005-05-17', '1999 Indy 500 Monte Carlo SS', '55'),
 ('Georg ', 'Pipps', '2005-05-17', '1992 Ferrari 360 Spider red', '35'),
 ('Georg ', 'Pipps', '2005-05-17', '1948 Porsche Type 356 Roadster', '43'),
 ('Georg ', 'Pipps', '2005-05-17', '1982 Lamborghini Diablo', '15'),
 ('Georg ', 'Pipps', '2005-05-17', '1971 Alpine Renault 1600s', '55'),
 ('Georg ', 'Pipps', '2005-05-17', '1956 Porsche 356A Coupe', '70'),
 ('Sarah', 'McRoy', '2005-05-16', '1969 Dodge Super Bee', '16'),
 ('Sarah', 'McRoy', '2005-05-16', '1976 Ford Gran Torino', '27'),
 ('Sarah', 'McRoy', '2005-05-16', '1957 Vespa GS150', '33'),
 ('Sarah', 'McRoy', '2005-05-16', '1957 Corvette Convertible', '28'),
 ('Sarah', 'McRoy', '2005-05-16', '1982 Ducati 900 Monster', '52'),
 ('Sarah', 'McRoy', '2005-05-16', '1961 Chevrolet Impala', '10'),
 ('Sarah', 'McRoy', '2005-05-16', '1982 Ducati 996 R', '43'),
 ('Sarah', 'McRoy', '2005-05-16', '1974 Ducati 350 Mk3 Desmo', '50'),
 ('Sarah', 'McRoy', '2005-05-16', '2002 Yamaha YZR M1', '40'),
 ('Diego ',
  'Freyre',
  '2005-05-13',
  '1969 Harley Davidson Ultimate Chopper',
  '66'),
 ('Diego ', 'Freyre', '2005-05-13', '1996 Moto Guzzi 1100i', '45'),
 ('Diego ',
  'Freyre',
  '2005-05-13',
  '2003 Harley-Davidson Eagle Drag Bike',
  '56'),
 ('Diego ', 'Freyre', '2005-05-13', '2002 Suzuki XREO', '21'),
 ('Diego ',
  'Freyre',
  '2005-05-13',
  '1936 Harley Davidson El Knucklehead',
  '36'),
 ('Diego ', 'Freyre', '2005-05-13', '1997 BMW R 1100 S', '35'),
 ('Maurizio ', 'Moroni', '2005-05-10', '1980s Black Hawk Helicopter', '24'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'P-51-D Mustang', '15'),
 ('Maurizio ',
  'Moroni',
  '2005-05-10',
  '1928 British Royal Navy Airplane',
  '47'),
 ('Maurizio ', 'Moroni', '2005-05-10', '1960 BSA Gold Star DBD34', '32'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'Corsair F4U ( Bird Cage)', '18'),
 ('Maurizio ', 'Moroni', '2005-05-10', '1900s Vintage Tri-Plane', '48'),
 ('Maurizio ', 'Moroni', '2005-05-10', '1997 BMW F650 ST', '45'),
 ('Maurizio ', 'Moroni', '2005-05-10', '1928 Ford Phaeton Deluxe', '26'),
 ('Maurizio ', 'Moroni', '2005-05-10', '1930 Buick Marquette Phaeton', '37'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'American Airlines: B767-300', '23'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'America West Airlines B757-200', '22'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'ATA: B757-300', '41'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'F/A 18 Hornet 1/72', '39'),
 ('Maurizio ', 'Moroni', '2005-05-10', 'American Airlines: MD-11S', '43'),
 ('Sean',
  'Clenahan',
  '2005-05-09',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '51'),
 ('Sean', 'Clenahan', '2005-05-09', '1900s Vintage Bi-Plane', '21'),
 ('Sean', 'Clenahan', '2005-05-09', '1937 Horch 930V Limousine', '18'),
 ('Sean', 'Clenahan', '2005-05-09', 'HMS Bounty', '32'),
 ('Sean', 'Clenahan', '2005-05-09', 'Boeing X-32A JSF', '42'),
 ('Juri', 'Yoshido', '2005-05-06', '1972 Alfa Romeo GTA', '49'),
 ('Juri', 'Yoshido', '2005-05-06', '1999 Yamaha Speed Boat', '44'),
 ('Juri', 'Yoshido', '2005-05-06', '1903 Ford Model A', '41'),
 ('Juri', 'Yoshido', '2005-05-06', 'Collectable Wooden Train', '48'),
 ('Juri', 'Yoshido', '2005-05-06', '1904 Buick Runabout', '56'),
 ('Juri', 'Yoshido', '2005-05-06', '18th century schooner', '43'),
 ('Juri', 'Yoshido', '2005-05-06', '1912 Ford Model T Delivery Wagon', '60'),
 ('Juri', 'Yoshido', '2005-05-06', '1940 Ford Delivery Sedan', '51'),
 ('Juri', 'Yoshido', '2005-05-06', 'The Schooner Bluenose', '37'),
 ('Juri', 'Yoshido', '2005-05-06', 'The Mayflower', '34'),
 ('Juri', 'Yoshido', '2005-05-06', 'The USS Constitution Ship', '31'),
 ('Juri', 'Yoshido', '2005-05-06', 'The Titanic', '28'),
 ('Juri', 'Yoshido', '2005-05-06', 'The Queen Mary', '40'),
 ('Juri', 'Yoshido', '2005-05-06', 'Pont Yacht', '47'),
 ('Julie', 'King', '2005-05-05', '2001 Ferrari Enzo', '36'),
 ('Julie', 'King', '2005-05-05', '1969 Corvair Monza', '47'),
 ('Julie', 'King', '2005-05-05', '1969 Ford Falcon', '22'),
 ('Julie', 'King', '2005-05-05', '1970 Triumph Spitfire', '49'),
 ('Julie',
  'King',
  '2005-05-05',
  "1950's Chicago Surface Lines Streetcar",
  '24'),
 ('Julie', 'King', '2005-05-05', '1962 City of Detroit Streetcar', '51'),
 ('Diego ', 'Freyre', '2005-05-03', '1957 Chevy Pickup', '54'),
 ('Diego ', 'Freyre', '2005-05-03', '1998 Chrysler Plymouth Prowler', '41'),
 ('Diego ', 'Freyre', '2005-05-03', '1964 Mercedes Tour Bus', '56'),
 ('Diego ', 'Freyre', '2005-05-03', '1926 Ford Fire Engine', '47'),
 ('Diego ', 'Freyre', '2005-05-03', '1992 Ferrari 360 Spider red', '60'),
 ('Diego ', 'Freyre', '2005-05-03', '1970 Dodge Coronet', '21'),
 ('Diego ', 'Freyre', '2005-05-03', '1962 Volkswagen Microbus', '70'),
 ('Diego ',
  'Freyre',
  '2005-05-03',
  '1958 Chevy Corvette Limited Edition',
  '30'),
 ('Diego ', 'Freyre', '2005-05-03', '1992 Porsche Cayenne Turbo Silver', '31'),
 ('Diego ', 'Freyre', '2005-05-03', '1954 Greyhound Scenicruiser', '19'),
 ('Diego ', 'Freyre', '2005-05-03', 'Diamond T620 Semi-Skirted Tanker', '26'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1952 Alpine Renault 1300', '23'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1962 LanciaA Delta 16V', '27'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1958 Setra Bus', '40'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1940 Ford Pickup Truck', '27'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1940s Ford truck', '46'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1939 Cadillac Limousine', '35'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1980‚Äôs GM Manhattan Express', '26'),
 ('Jean ',
  'Fresni√®re',
  '2005-05-01',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '27'),
 ('Jean ', 'Fresni√®re', '2005-05-01', '1982 Camaro Z28', '34'),
 ('Wales', 'MacKinlay', '2005-04-29', '1937 Lincoln Berline', '65'),
 ('Wales',
  'MacKinlay',
  '2005-04-29',
  '1936 Mercedes-Benz 500K Special Roadster',
  '44'),
 ('Wales', 'MacKinlay', '2005-04-29', '1928 Mercedes-Benz SSK', '56'),
 ('Wales', 'MacKinlay', '2005-04-29', '1913 Ford Model T Speedster', '47'),
 ('Wales', 'MacKinlay', '2005-04-29', '1934 Ford V8 Coupe', '53'),
 ('Wales',
  'MacKinlay',
  '2005-04-29',
  '18th Century Vintage Horse Carriage',
  '34'),
 ('Wales', 'MacKinlay', '2005-04-29', '1917 Maxwell Touring Car', '44'),
 ('Wales',
  'MacKinlay',
  '2005-04-29',
  '1938 Cadillac V-16 Presidential Limousine',
  '31'),
 ('Wales', 'MacKinlay', '2005-04-29', '1936 Chrysler Airflow', '50'),
 ('Wendy', 'Victorino', '2005-04-23', '1932 Model A Ford J-Coupe', '6'),
 ('Wendy', 'Victorino', '2005-04-23', '1939 Chevrolet Deluxe Coupe', '61'),
 ('Akiko',
  'Shimamura',
  '2005-04-22',
  '1936 Mercedes Benz 500k Roadster',
  '15'),
 ('Sue', 'Frick', '2005-04-22', '1965 Aston Martin DB5', '59'),
 ('Sue', 'Frick', '2005-04-22', '1917 Grand Touring Sedan', '76'),
 ('Sue', 'Frick', '2005-04-22', '1911 Ford Town Car', '42'),
 ('Sue', 'Frick', '2005-04-22', '1999 Indy 500 Monte Carlo SS', '41'),
 ('Sue', 'Frick', '2005-04-22', '1932 Alfa Romeo 8C2300 Spider Sport', '6'),
 ('Sue', 'Frick', '2005-04-22', '1957 Ford Thunderbird', '66'),
 ('Sue', 'Frick', '2005-04-22', '1970 Chevy Chevelle SS 454', '26'),
 ('Sue', 'Frick', '2005-04-22', '1966 Shelby Cobra 427 S/C', '64'),
 ('Sue', 'Frick', '2005-04-22', '1949 Jaguar XK 120', '76'),
 ('Sue', 'Frick', '2005-04-22', '1952 Citroen-15CV', '59'),
 ('Sue', 'Frick', '2005-04-22', '1969 Chevrolet Camaro Z28', '13'),
 ('Sue', 'Frick', '2005-04-22', '2002 Chevy Corvette', '43'),
 ('Jytte ', 'Petersen', '2005-04-15', '1993 Mazda RX-7', '61'),
 ('Jytte ', 'Petersen', '2005-04-15', '1995 Honda Civic', '48'),
 ('Jytte ', 'Petersen', '2005-04-15', '1948 Porsche Type 356 Roadster', '65'),
 ('Fr√©d√©rique ', 'Citeaux', '2005-04-14', '1969 Dodge Charger', '97'),
 ('Fr√©d√©rique ', 'Citeaux', '2005-04-14', '1948 Porsche 356-A Roadster', '61'),
 ('Fr√©d√©rique ', 'Citeaux', '2005-04-14', '1992 Ferrari 360 Spider red', '55'),
 ('Fr√©d√©rique ', 'Citeaux', '2005-04-14', '1982 Lamborghini Diablo', '47'),
 ('Fr√©d√©rique ', 'Citeaux', '2005-04-14', '1956 Porsche 356A Coupe', '76'),
 ('Elizabeth',
  'Devon',
  '2005-04-08',
  '1969 Harley Davidson Ultimate Chopper',
  '24'),
 ('Elizabeth',
  'Devon',
  '2005-04-08',
  '2003 Harley-Davidson Eagle Drag Bike',
  '66'),
 ('Elizabeth', 'Devon', '2005-04-08', '2002 Suzuki XREO', '66'),
 ('Elizabeth', 'Devon', '2005-04-08', '1957 Vespa GS150', '36'),
 ('Elizabeth', 'Devon', '2005-04-08', '1997 BMW R 1100 S', '46'),
 ('Elizabeth', 'Devon', '2005-04-08', '1982 Ducati 900 Monster', '27'),
 ('Elizabeth', 'Devon', '2005-04-08', '1982 Ducati 996 R', '30'),
 ('Elizabeth', 'Devon', '2005-04-08', '1974 Ducati 350 Mk3 Desmo', '45'),
 ('Elizabeth', 'Devon', '2005-04-08', '2002 Yamaha YZR M1', '31'),
 ('Mike', 'Graham', '2005-04-08', '1968 Ford Mustang', '64'),
 ('Mike', 'Graham', '2005-04-08', '1968 Dodge Charger', '43'),
 ('Mike', 'Graham', '2005-04-08', '1970 Plymouth Hemi Cuda', '77'),
 ('Mike', 'Graham', '2005-04-08', '1969 Dodge Super Bee', '90'),
 ('Mike', 'Graham', '2005-04-08', '1976 Ford Gran Torino', '28'),
 ('Mike', 'Graham', '2005-04-08', '1957 Corvette Convertible', '48'),
 ('Mike', 'Graham', '2005-04-08', '1971 Alpine Renault 1600s', '49'),
 ('Mike', 'Graham', '2005-04-08', '1961 Chevrolet Impala', '48'),
 ('Dominique', 'Perrier', '2005-04-07', '1996 Moto Guzzi 1100i', '45'),
 ('Dominique',
  'Perrier',
  '2005-04-07',
  '1936 Harley Davidson El Knucklehead',
  '55'),
 ('Dominique', 'Perrier', '2005-04-07', '1960 BSA Gold Star DBD34', '59'),
 ('William', 'Brown', '2005-04-03', 'P-51-D Mustang', '42'),
 ('William', 'Brown', '2005-04-03', '1928 British Royal Navy Airplane', '38'),
 ('William', 'Brown', '2005-04-03', 'Corsair F4U ( Bird Cage)', '64'),
 ('William', 'Brown', '2005-04-03', '1900s Vintage Tri-Plane', '52'),
 ('William', 'Brown', '2005-04-03', '1997 BMW F650 ST', '49'),
 ('William', 'Brown', '2005-04-03', '1928 Ford Phaeton Deluxe', '62'),
 ('William', 'Brown', '2005-04-03', '1930 Buick Marquette Phaeton', '56'),
 ('William', 'Brown', '2005-04-03', 'American Airlines: B767-300', '11'),
 ('William', 'Brown', '2005-04-03', 'America West Airlines B757-200', '85'),
 ('William', 'Brown', '2005-04-03', 'ATA: B757-300', '21'),
 ('William', 'Brown', '2005-04-03', 'F/A 18 Hornet 1/72', '77'),
 ('William', 'Brown', '2005-04-03', 'American Airlines: MD-11S', '40'),
 ('Sue', 'Frick', '2005-04-01', '1972 Alfa Romeo GTA', '64'),
 ('Sue', 'Frick', '2005-04-01', '1980s Black Hawk Helicopter', '34'),
 ('Sue', 'Frick', '2005-04-01', '1999 Yamaha Speed Boat', '30'),
 ('Sue',
  'Frick',
  '2005-04-01',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '58'),
 ('Sue', 'Frick', '2005-04-01', '1900s Vintage Bi-Plane', '24'),
 ('Sue', 'Frick', '2005-04-01', '1937 Horch 930V Limousine', '38'),
 ('Sue', 'Frick', '2005-04-01', '1940 Ford Delivery Sedan', '42'),
 ('Sue', 'Frick', '2005-04-01', 'HMS Bounty', '46'),
 ('Sue', 'Frick', '2005-04-01', 'Boeing X-32A JSF', '20'),
 ('Tony',
  'Snowden',
  '2005-04-01',
  '1969 Harley Davidson Ultimate Chopper',
  '40'),
 ('Tony', 'Snowden', '2005-04-01', '1996 Moto Guzzi 1100i', '51'),
 ('Tony',
  'Snowden',
  '2005-04-01',
  '2003 Harley-Davidson Eagle Drag Bike',
  '22'),
 ('Tony', 'Snowden', '2005-04-01', '2002 Suzuki XREO', '29'),
 ('Tony',
  'Snowden',
  '2005-04-01',
  '1936 Harley Davidson El Knucklehead',
  '30'),
 ('Tony', 'Snowden', '2005-04-01', '1997 BMW R 1100 S', '57'),
 ('Tony', 'Snowden', '2005-04-01', '1960 BSA Gold Star DBD34', '58'),
 ('Tony', 'Snowden', '2005-04-01', '1997 BMW F650 ST', '32'),
 ('Paul ', 'Henriot', '2005-03-30', '1980s Black Hawk Helicopter', '33'),
 ('Paul ', 'Henriot', '2005-03-30', 'P-51-D Mustang', '34'),
 ('Paul ', 'Henriot', '2005-03-30', '1999 Yamaha Speed Boat', '28'),
 ('Paul ',
  'Henriot',
  '2005-03-30',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '45'),
 ('Paul ', 'Henriot', '2005-03-30', '1928 British Royal Navy Airplane', '43'),
 ('Paul ', 'Henriot', '2005-03-30', '1900s Vintage Bi-Plane', '28'),
 ('Paul ', 'Henriot', '2005-03-30', '1937 Horch 930V Limousine', '34'),
 ('Paul ', 'Henriot', '2005-03-30', 'Corsair F4U ( Bird Cage)', '41'),
 ('Paul ', 'Henriot', '2005-03-30', '1900s Vintage Tri-Plane', '45'),
 ('Paul ', 'Henriot', '2005-03-30', '1928 Ford Phaeton Deluxe', '22'),
 ('Paul ', 'Henriot', '2005-03-30', '1930 Buick Marquette Phaeton', '49'),
 ('Paul ', 'Henriot', '2005-03-30', 'American Airlines: B767-300', '47'),
 ('Paul ', 'Henriot', '2005-03-30', 'HMS Bounty', '36'),
 ('Paul ', 'Henriot', '2005-03-30', 'America West Airlines B757-200', '22'),
 ('Paul ', 'Henriot', '2005-03-30', 'ATA: B757-300', '23'),
 ('Paul ', 'Henriot', '2005-03-30', 'F/A 18 Hornet 1/72', '29'),
 ('Paul ', 'Henriot', '2005-03-30', 'American Airlines: MD-11S', '36'),
 ('Paul ', 'Henriot', '2005-03-30', 'Boeing X-32A JSF', '34'),
 ('Annette ', 'Roulet', '2005-03-28', 'The Mayflower', '32'),
 ('Annette ', 'Roulet', '2005-03-28', 'The USS Constitution Ship', '22'),
 ('Annette ', 'Roulet', '2005-03-28', 'The Titanic', '48'),
 ('Annette ', 'Roulet', '2005-03-28', 'The Queen Mary', '36'),
 ('Annette ', 'Roulet', '2005-03-28', 'Pont Yacht', '34'),
 ('Susan', 'Nelson', '2005-03-23', '1969 Ford Falcon', '33'),
 ('Susan', 'Nelson', '2005-03-23', '1903 Ford Model A', '33'),
 ('Susan', 'Nelson', '2005-03-23', 'Collectable Wooden Train', '24'),
 ('Susan', 'Nelson', '2005-03-23', '1904 Buick Runabout', '45'),
 ('Susan', 'Nelson', '2005-03-23', '18th century schooner', '49'),
 ('Susan', 'Nelson', '2005-03-23', '1912 Ford Model T Delivery Wagon', '27'),
 ('Susan', 'Nelson', '2005-03-23', '1940 Ford Delivery Sedan', '37'),
 ('Susan', 'Nelson', '2005-03-23', 'The Schooner Bluenose', '39'),
 ('Daniel', 'Da Silva', '2005-03-17', '1972 Alfa Romeo GTA', '32'),
 ('Daniel', 'Da Silva', '2005-03-17', '2001 Ferrari Enzo', '33'),
 ('Daniel',
  'Da Silva',
  '2005-03-17',
  'Diamond T620 Semi-Skirted Tanker',
  '46'),
 ('Daniel', 'Da Silva', '2005-03-17', '1962 City of Detroit Streetcar', '45'),
 ('Diego ', 'Freyre', '2005-03-15', '1992 Ferrari 360 Spider red', '22'),
 ('Diego ', 'Freyre', '2005-03-15', '1970 Triumph Spitfire', '37'),
 ('Diego ', 'Freyre', '2005-03-15', '1970 Dodge Coronet', '31'),
 ('Diego ',
  'Freyre',
  '2005-03-15',
  '1958 Chevy Corvette Limited Edition',
  '46'),
 ('Diego ', 'Freyre', '2005-03-15', '1992 Porsche Cayenne Turbo Silver', '37'),
 ('Diego ', 'Freyre', '2005-03-15', '1954 Greyhound Scenicruiser', '36'),
 ('Diego ',
  'Freyre',
  '2005-03-15',
  "1950's Chicago Surface Lines Streetcar",
  '30'),
 ('Mike', 'Graham', '2005-03-11', '1969 Corvair Monza', '35'),
 ('Mike', 'Graham', '2005-03-11', '1957 Chevy Pickup', '32'),
 ('Mike', 'Graham', '2005-03-11', '1998 Chrysler Plymouth Prowler', '20'),
 ('Mike', 'Graham', '2005-03-11', '1964 Mercedes Tour Bus', '38'),
 ('Mike', 'Graham', '2005-03-11', '1940s Ford truck', '30'),
 ('Mike', 'Graham', '2005-03-11', '1939 Cadillac Limousine', '44'),
 ('Mike', 'Graham', '2005-03-11', '1962 Volkswagen Microbus', '33'),
 ('Mike', 'Graham', '2005-03-11', '1936 Chrysler Airflow', '33'),
 ('Mike', 'Graham', '2005-03-11', '1980‚Äôs GM Manhattan Express', '38'),
 ('Mike',
  'Graham',
  '2005-03-11',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '31'),
 ('Mike', 'Graham', '2005-03-11', '1982 Camaro Z28', '21'),
 ('Roland ', 'Mendel', '2005-03-10', '1934 Ford V8 Coupe', '37'),
 ('Roland ',
  'Mendel',
  '2005-03-10',
  '18th Century Vintage Horse Carriage',
  '29'),
 ('Roland ', 'Mendel', '2005-03-10', '1917 Maxwell Touring Car', '36'),
 ('Anna', "O'Hara", '2005-03-09', '1952 Alpine Renault 1300', '24'),
 ('Anna', "O'Hara", '2005-03-09', '1962 LanciaA Delta 16V', '37'),
 ('Anna', "O'Hara", '2005-03-09', '1958 Setra Bus', '39'),
 ('Anna', "O'Hara", '2005-03-09', '1940 Ford Pickup Truck', '29'),
 ('Anna', "O'Hara", '2005-03-09', '1937 Lincoln Berline', '35'),
 ('Anna',
  "O'Hara",
  '2005-03-09',
  '1936 Mercedes-Benz 500K Special Roadster',
  '42'),
 ('Anna', "O'Hara", '2005-03-09', '1926 Ford Fire Engine', '44'),
 ('Anna', "O'Hara", '2005-03-09', '1913 Ford Model T Speedster', '32'),
 ('Anna', "O'Hara", '2005-03-09', '1939 Chevrolet Deluxe Coupe', '33'),
 ('Anna',
  "O'Hara",
  '2005-03-09',
  '1938 Cadillac V-16 Presidential Limousine',
  '24'),
 ('Susan', 'Nelson', '2005-03-04', '1993 Mazda RX-7', '36'),
 ('Susan', 'Nelson', '2005-03-04', '1995 Honda Civic', '34'),
 ('Susan', 'Nelson', '2005-03-04', '1932 Model A Ford J-Coupe', '31'),

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!